doctype html
html
    head
        title #{pageTitle}
        link(rel="stylesheet" href="/bootstrap/bootstrap.min.css")
        link(rel="stylesheet" href="/css/style.css")
    body
        include ../partials/header.pug
        block main
        include ../partials/footer.pug

        script(src="/bootstrap/bootstrap.bundle.min.js")
        script(src="/js/index.js") 