*{
    padding: 0;
    margin: 0;
}
.header{
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
    // position: fixed;
    // width: 100%;
}
.inner-logo{
    // width: 50px;
    // height: 50px;

    & img {
        // width: 100%;
        // object-fit: contain;
        // aspect-ratio: 1/1;
        max-height: 50px;
        max-width: 100%;
        object-fit: cover;
    }
}
.inner-menu{
    & ul {
        padding: 0;
        margin: 0;
        display: flex;
        align-items: center;
        list-style-type: none;
        justify-content: flex-end;
        flex-wrap: wrap;
        gap: 20px;
    }
}

.footer{
    background: #000;
    color: #fff;
    text-align: center;
    padding: 5px;
}

// main
.box-head {
    &__title{
        color: green;
        font-weight: 700;
        font-size: 40px;
        margin: 10px 0px;
    }
}

.product-item{
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    height: 100%;
    
    &__image{
        width: 100%;
        aspect-ratio: 4/3;
        border-bottom: 1px solid #ddd;

        & img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            position: relative;
        }
    }

    &__featured{ 
        position: absolute;
        top: 0;
        right: 15px;
        padding: 3px 5px;
        background-color: green;
        color: #fff;
        font-size: 14px;
        border-radius: 8px;
        font-weight: 500;
    }

    &__content {
        padding: 8px 8px;

        &__price{
            font-size: 20px;
            font-weight: 600;

            &.new{
                color: green;
            }

            &.old{
                color: red;
                text-decoration: line-through;
            }
        }

        &__discount{
            padding: 5px;
            background-color: red;
            color: #fff;
            font-size: 17px;
            display: inline-block;
            border-radius: 10px;
        }
    }
}


// sub-menu
.sub-menu{
    position: relative;
    z-index: 999;

    & ul {
        position: absolute;
        padding: 0;
        margin: 0;
        right: 0;
        top: 100%;
        background: #eae9e9;
        min-width: 180px;
        display: none;

        & li{
            position: relative;
            padding: 10px;
            border-bottom: 1px solid #ddd;

            & ul{
                right: 100%;
                top: 0;
            }

            &:hover > ul {
                display: block;
            }
        }
    }

    &:hover > ul {
        display: block;
    }
}


// product detail
.product-detail{
    &__img{
        width: 100%;
        aspect-ratio: 4/2;

        & img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    &__newPrice{
        color: green;
        font-size: 20px;
        font-weight: 600;
    }

    &__oldPrice{
        font-weight: 400;
        color: red;
        text-decoration: line-through;
        font-size: 15px;
    }

    &__discount{
        & span{
            background: red;
            padding: 2px 5px;
            color: #fff;
            border-radius: 5px;
            font-weight: 450;
        }
    }

    &__quantity{

        & span{
            background: green;
            padding: 2px 3px;
            color: #fff;
            border-radius: 5px;
            font-weight: 450;
        }
    }
}
[show-alert] {
    position: fixed;
    z-index: 999;
    top: 60px;
    right: 15px;

    [hidden-alert] {
        font-size: 10px;
        width: 15px;
        height: 15px;
        color: white;
        padding: 3px;
        border-radius: 50%;
        background: red;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: -5px;
        right: -5px;
        cursor: pointer;
    }
    &.alert-hidden{
        display: none;
    }
}