.row
    .col-12
        a(href="/users/notFriend" class="btn btn-primary btn-sm m-1") Danh sách người dùng
        a(href="/users/friend" class="btn btn-primary btn-sm m-1") Danh sách bạn bè
        a(href="/users/request" class="btn btn-primary btn-sm m-1") Lời mời đã gửi
        a(href="/users/accept" class="btn btn-primary btn-sm m-1") Lời mời kết bạn