* {
  padding: 0;
  margin: 0;
}

.header {
  border-bottom: 1px solid #ddd;
  padding: 10px 0;
}

.inner-logo img {
  max-height: 50px;
  max-width: 100%;
  object-fit: cover;
}

.inner-menu ul {
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  list-style-type: none;
  justify-content: flex-end;
  flex-wrap: wrap;
  gap: 20px;
}

.footer {
  background: #000;
  color: #fff;
  text-align: center;
  padding: 5px;
}

.box-head__title {
  color: green;
  font-weight: 700;
  font-size: 40px;
  margin: 10px 0px;
}

.product-item {
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  height: 100%;
}
.product-item__image {
  width: 100%;
  aspect-ratio: 4/3;
  border-bottom: 1px solid #ddd;
}
.product-item__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: relative;
}
.product-item__featured {
  position: absolute;
  top: 0;
  right: 15px;
  padding: 3px 5px;
  background-color: green;
  color: #fff;
  font-size: 14px;
  border-radius: 8px;
  font-weight: 500;
}
.product-item__content {
  padding: 8px 8px;
}
.product-item__content__price {
  font-size: 20px;
  font-weight: 600;
}
.product-item__content__price.new {
  color: green;
}
.product-item__content__price.old {
  color: red;
  text-decoration: line-through;
}
.product-item__content__discount {
  padding: 5px;
  background-color: red;
  color: #fff;
  font-size: 17px;
  display: inline-block;
  border-radius: 10px;
}

.sub-menu {
  position: relative;
  z-index: 999;
}
.sub-menu ul {
  position: absolute;
  padding: 0;
  margin: 0;
  right: 0;
  top: 100%;
  background: #eae9e9;
  min-width: 180px;
  display: none;
}
.sub-menu ul li {
  position: relative;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}
.sub-menu ul li ul {
  right: 100%;
  top: 0;
}
.sub-menu ul li:hover > ul {
  display: block;
}
.sub-menu:hover > ul {
  display: block;
}

.product-detail__img {
  width: 100%;
  aspect-ratio: 4/2;
}
.product-detail__img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.product-detail__newPrice {
  color: green;
  font-size: 20px;
  font-weight: 600;
}
.product-detail__oldPrice {
  font-weight: 400;
  color: red;
  text-decoration: line-through;
  font-size: 15px;
}
.product-detail__discount span {
  background: red;
  padding: 2px 5px;
  color: #fff;
  border-radius: 5px;
  font-weight: 450;
}
.product-detail__quantity span {
  background: green;
  padding: 2px 3px;
  color: #fff;
  border-radius: 5px;
  font-weight: 450;
}

[show-alert] {
  position: fixed;
  z-index: 999;
  top: 60px;
  right: 15px;
}
[show-alert] [hidden-alert] {
  font-size: 10px;
  width: 15px;
  height: 15px;
  color: white;
  padding: 3px;
  border-radius: 50%;
  background: red;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -5px;
  right: -5px;
  cursor: pointer;
}
[show-alert].alert-hidden {
  display: none;
}

.chat {
  position: relative;
  padding: 10px 10px 0;
  border: 1px solid #ddd;
  border-radius: 5px;
}
.chat__body {
  padding: 5px 0;
  overflow-y: scroll;
  max-height: 300px;
}
.chat__image img {
  width: 60px;
  height: 60px;
  object-fit: contain;
  padding: 10px;
  background: #ddd;
  border-radius: 5px;
  margin: 0px 5px 5px 0px;
}
.chat__delete {
  position: absolute;
  font-size: 10px;
  background: transparent;
  display: none;
}
.chat__incomming {
  margin-left: 5px;
  max-width: 200px;
  position: relative;
  animation: all 0.5s ease 0s;
}
.chat__incomming .chat__content {
  background: #ddd;
  padding: 0 5px;
  border-radius: 10px;
  margin-bottom: 5px;
}
.chat__incomming .chat__delete {
  left: 100%;
}
.chat__incomming:hover .chat__delete {
  display: inline-block;
}
.chat__outgoing {
  margin-left: auto;
  max-width: 200px;
  position: relative;
  animation: all 0.5s ease 0s;
}
.chat__outgoing .chat__content {
  padding: 0 5px;
  border-radius: 10px;
  background: #FE5DA3;
  color: #fff;
  margin-bottom: 5px;
}
.chat__outgoing .chat__delete {
  right: 100%;
}
.chat__outgoing:hover .chat__delete {
  display: inline-block;
}
.chat__outgoing .chat__image {
  margin-left: auto;
  text-align: right;
}
.chat__outgoing .chat__image img {
  margin: 0 0 5px 5px;
}
.chat__name {
  font-weight: 600;
}
.chat__foot {
  border-top: 1px solid #ddd;
  position: sticky;
  bottom: 0;
  padding: 10px 10px 0;
  z-index: 999;
  background: #fff;
}
.chat__form {
  display: flex;
  align-items: center;
  gap: 5px;
  padding-bottom: 10px;
}
.chat__form input {
  flex: 1;
  height: 32px;
  border: 1px solid #ddd;
  border-radius: 15px;
  padding: 0 10px;
  outline: none;
}
.chat__form button {
  border-radius: 15px;
  border: 1px solid #FE5DA3;
  background: #FE5DA3;
  color: #fff;
  height: 32px;
  padding: 0 10px;
  cursor: pointer;
}
.chat__preview .label-container {
  display: none;
}
.chat__preview .input-container {
  display: none;
}
.chat__preview .image-preview {
  height: auto;
  padding: 0;
  border-radius: 0;
}
.chat__preview .image-preview-item {
  width: 90px;
  background-size: contain;
}

.tooltip {
  visibility: hidden;
}
.tooltip.shown {
  visibility: visible;
  opacity: 1;
}

.viewer-toolbar > ul > li {
  background: #FE5DA3;
}

.chat__list-typing {
  position: relative;
}
.chat__box-typing__dots {
  position: relative;
  height: 20px;
  width: 50px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: #efefef;
  border-radius: 45px;
  margin-top: 2px;
}
.chat__box-typing__dots span {
  height: 5px;
  width: 5px;
  background-color: #252525;
  border-radius: 50%;
  display: inline-block;
  margin: 0 3px;
  animation: blink 1.5s infinite;
}
.chat__box-typing__dots span:nth-child(2) {
  animation-delay: 0.2s;
}
.chat__box-typing__dots span:nth-child(3) {
  animation-delay: 0.4s;
}

@keyframes blink {
  0% {
    opacity: 0.1;
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: 0.1;
  }
}
.users {
  display: flex;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
}
.users [btn-cancel-friend] {
  display: none;
}
.users.add [btn-add-friend] {
  display: none;
}
.users.add [btn-cancel-friend] {
  display: inline-block;
}
.users [btn-deleted-friend] {
  display: none;
}
.users.refuse [btn-accept-friend] {
  display: none;
}
.users.refuse [btn-refuse-friend] {
  display: none;
}
.users.refuse [btn-deleted-friend] {
  display: inline-block;
}
.users [btn-accepted-friend] {
  display: none;
}
.users.accepted [btn-accept-friend] {
  display: none;
}
.users.accepted [btn-refuse-friend] {
  display: none;
}
.users.accepted [btn-accepted-friend] {
  display: inline-block;
}
.users__img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: #f2f2f2;
  overflow: hidden;
  margin-right: 10px;
}
.users__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.users__infor {
  flex: 1;
}
.users__infor__name {
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 6px;
}

/*# sourceMappingURL=style.css.map */
