extends ../../layout/default
include ../../mixins/tableTree
block main
    if(role.permissions.includes("products-category_view"))
        .card.mb-3
            .card-header Action
            .card-body   
                .row
                    .col-8
                    .col-4
                        if(role.permissions.includes("products-category_create"))
                            a(
                                href=`${prefixAdmin}/product-category/create`
                                class = "btn btn-outline-success btn-sm"
                            ) Thêm mới
        .card.mb-3
            .card-header Danh sách danh mục
            .card-body            
                table(class="table table-hover table-sm" checkbox-multi)
                    thead
                        tr
                            th
                                input(type="checkbox" name="checkAll")
                            th STT
                            th Hình ảnh
                            th Tiêu đề
                            th Vị trí
                            th Trạng thái
                            th Hành động
                    tbody
                        +tableTree(records)