extends ../../layout/default.pug
include ../../mixins/box-head.pug
include ../../mixins/product-grid.pug
block main
    main.main
        .container.my-3
            .row
                .col-12
                    +box-head(pageTitle)
            +product-grid(productList)