mixin alert(time)
    - if (messages.success)
        div(class="alert alert-success" time-hidden=time show-alert) #{messages.success}
            span(hidden-alert) x

    - if (messages.error)
        div(class="alert alert-danger" time-hidden=time show-alert) #{messages.error}
            span(hidden-alert) x