mixin search(keyword)
    form(id="form-search")
        .input-group
            input(type="text" class="form-control" placeholder="Nhập từ khóa..." aria-describedby="button-addon2" name="keyword" value=keyword)
            button(class="btn btn-success btn-sm" type="submit" id="button-addon2") Tìm kiếm
