mixin sub-menu(productCategory, path)
    ul
        for item in productCategory
            li
                a(href=`${path}/${item.slug}`) #{item.title}
                if (item.children && item.children.length > 0)
                    +sub-menu(item.children, path)