extends ../../layout/default.pug
include ../../mixins/alert.pug
    block main
        +alert(5000)
        .container.my-5
            .row.justify-content-center
                .col-8
                    h1.text-center Quên mật khẩu
                    form(
                        method="POST"
                        action=`/user/password/forgot`
                    ) 
                        div(class="form-group") Email
                            label(for="email") 
                            input(id="email" name="email" type="email" class="form-control")  
                        div(class="form-group")
                            button(class="btn btn-primary btn-block" type="submit") Lấy OTP
        script(src="/admin/js/product.admin.js") 