extends ../../layout/default.pug
include ../../mixins/alert.pug
    block main
        +alert(5000)
        .container.my-5
            .row.justify-content-center
                .col-8
                    h1.text-center Đăng ký
                    form(
                        method="POST"
                        action=`/user/register`
                         enctype="multipart/form-data"
                    ) 
                        div(class="form-group") Họ tên
                            label(for="fullName")
                            input(id="fullName" name="fullName" type="text" class="form-control")
                        div(class="form-group")
                            label(for="image") Ảnh đại diện
                            input(id="image" name="avatar" type="file" class="form-control-file" accept="image/*")
                        div(class="form-group") Email
                            label(for="email") 
                            input(id="email" name="email" type="email" class="form-control") 
                        div(class="form-group")
                            label(for="password") Mật khẩu
                            input(id="password" name="password" type="password" class="form-control") 
                        div(class="form-group")
                            button(class="btn btn-primary btn-block" type="submit") Đăng ký

        script(src="/admin/js/product.admin.js") 