doctype html
html
    head
        title #{pageTitle}
        link(rel="stylesheet" href="/bootstrap/bootstrap.min.css")
        link(rel="stylesheet", href="/admin/css/style.css")
    body
        if(role.permissions.length > 0)
            include ../partials/header.pug

            .body
                include ../partials/sider.pug
                
                .body__main
                    block main

script(src="/bootstrap/jquery.slim.min.js") 
script(src="/bootstrap/bootstrap.bundle.min.js")
script(src="/tinymce/tinymce.min.js")
script(src="/admin/js/tinymce-config.js")

//- script(src="" type="module") 