doctype html
html
    head
        title #{pageTitle}
        link(rel="stylesheet" href="/bootstrap/bootstrap.min.css")
        link(rel="stylesheet", href="/admin/css/style.css")
    body
        include ../partials/header.pug

        .body
            include ../partials/sider.pug
            
            .body__main
                block main

script(src="/bootstrap/bootstrap.bundle.min.js")